# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:Some of the popular languages that Data Scientists use are:<br>
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:Some of the commonly used libraries used by Data Scientists include: <br>

1. PANDAS
2. Seaborn
3. Matplotlib

|Data Science Tools       |
| ------------- |
| JupyterLab      |
| R Studio      |
| KNIME      |

### Below are a few examples of evaluating arithmetic expressions in PythonBelow are a few examples of evaluating arithmetic expressions in Python :

In [21]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [22]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
print(hours)

3.3333333333333335

## Objectives:

List popular languages for Data Science :
* Python
* R
* SQL
* Java
* Scala

# Author
Jalil Bouihad